{% extends "base.html" %}

{% block page_title %}
    Log In
{% endblock %}


{% block body %}
<div class="container full-vh">
    <form class="main text-center my-auto" method="POST" action="">
        <div class="loginbox mx-auto mt-5 w-50 p-5 bg-light border border-2 rounded">
            <h1 class="mb-5">Log In</h1>
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input class="form-control" type="email" name="email" placeholder="Enter email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password</span>
                <input class="form-control" type="password" name="password" placeholder="Enter password">
            </div>
            <button class="btn btn-lg w-25 bg-success rounded border text-white mt-3">Log In</button>
        </div>
    </form>
</div>
{% endblock %}